<!-- HTML file -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
        *{
	        margin:0;
        }
        body{
            color:whitesmoke;
            background:linear-gradient(90deg, #008C72 45%, #02A676 55%);
    }
    </style>
    <title>Document &reg;</title>
</head>
<body>
    <div>
        <h1>this is a gccp page to deploy in APP ENGINE&reg;</h1>
    </div>
    <script>
            const doc=document
            alert('deployed') 
    </script>
</body>
</html>
